@model ConsultorioMedico.Models.Unidade
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="espacamento">
</div>

<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Informações da unidade</div>
            <div class="panel-body">
                @Model.Nome
            </div>
        </div>
    </div>
</div>